form action="/exercises/#{result["id"]}/update" method="post"
    input type="text" name="content" value="#{result['content']}"
    input type="hidden" name="user_id" value="#{result['user_id']}"
    input type="submit" value="Redigera"