form action="/exercises/#{result["id"]}/edit" method="post"
    input type="text" name="name" value="#{result['name']}"
    input type="hidden" name="user_id" value="#{result['user_id']}"
    input type="submit" value="Redigera"