form action="/exercises/#{exercise["id"]}/edit" method="post"
    input type="text" name="name" value="#{exercise['name']}"
    input type="hidden" name="user_id" value="#{exercise['user_id']}"
    input type="submit" value="Redigera"